body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.button-container {
  display: flex;
  justify-content: space-between;
  width: auto;
  justify-content: center; /* 居中对齐 */
  gap: 10px; /* 按钮之间的间距 */
}

.button {
  background-color:#38B474;
  color:white;
  flex: 1; /* 使按钮占据相等的空间 */
  margin:  10px; /* 为每个按钮添加一些间距 */
  text-align: center; /* 使按钮内文本居中 */
}